In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df=pd.read_csv('Car_sales.csv') # Question 1

In [19]:
df.head() # Question 2

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639

In [21]:
(df.tail(10)) # Question 3

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
147,Volkswagen,Passat,51.102,16.725,Passenger,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,10/30/2012,61.701381
148,Volkswagen,Cabrio,9.569,16.575,Passenger,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,5/31/2011,48.907372
149,Volkswagen,GTI,5.596,13.760,Passenger,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,4/1/2011,47.946841
150,Volkswagen,Beetle,49.463,NaN,Passenger,15.90,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,10/20/2011,47.329632
151,Volvo,S40,16.957,NaN,Passenger,23.40,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2/18/2011,66.113057
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655

In [23]:
df.shape # Question 4

(157, 16)

In [31]:
df.info # Question 5

<bound method DataFrame.info of     Manufacturer    Model  Sales_in_thousands  __year_resale_value  \
0          Acura  Integra              16.919               16.360
1          Acura       TL              39.384               19.875
2          Acura       CL              14.114               18.225
3          Acura       RL               8.588               29.725
4           Audi       A4              20.397               22.255
..           ...      ...                 ...                  ...
152        Volvo      V40               3.545                  NaN
153        Volvo      S70              15.245                  NaN
154        Volvo      V70              17.531                  NaN
155        Volvo      C70               3.493                  NaN
156        Volvo      S80              18.969                  NaN

    Vehicle_type  Price_in_thousands  Engine_size  Horsepower  Wheelbase  \
0      Passenger               21.50          1.8       140.0      101.2
1      Passenger               28.40          3.2       225.0      108.1
2      Passenger                 NaN          3.2       225.0      106.9
3      Passenger               42.00          3.5       210.0      114.6
4      Passenger               23.99          1.8       150.0      102.6
..           ...                 ...          ...         ...        ...
152    Passenger               24.40          1.9       160.0      100.5
153    Passenger               27.50          2.4       168.0      104.9
154    Passenger               28.80          2.4       168.0      104.9
155    Passenger               45.50          2.3       236.0      104.9
156    Passenger               36.00          2.9       201.0      109.9

     Width  Length  Curb_weight  Fuel_capacity  Fuel_efficiency Latest_Launch  \
0     67.3   172.4        2.639           13.2             28.0      2/2/2012
1     70.3   192.9        3.517           17.2             25.0      6/3/2011
2     70.6   192.0        3.470           17.2             26.0      1/4/2012
3     71.4   196.6        3.850           18.0             22.0     3/10/2011
4     68.2   178.0        2.998           16.4             27.0     10/8/2011
..     ...     ...          ...            ...              ...           ...
152   67.6   176.6        3.042           15.8             25.0     9/21/2011
153   69.3   185.9        3.208           17.9             25.0    11/24/2012
154   69.3   186.2        3.259           17.9             25.0     6/25/2011
155   71.5   185.7        3.601           18.5             23.0     4/26/2011
156   72.1   189.8        3.600           21.1             24.0    11/14/2011

     Power_perf_factor
0            58.280150
1            91.370778
2                  NaN
3            91.389779
4            62.777639
..                 ...
152          66.498812
153          70.654495
154          71.155978
155         101.623357
156          85.735655

[157 rows x 16 columns]>

In [27]:
df.dtypes # Question 6

Manufacturer            object
Model                   object
Sales_in_thousands     float64
__year_resale_value    float64
Vehicle_type            object
Price_in_thousands     float64
Engine_size            float64
Horsepower             float64
Wheelbase              float64
Width                  float64
Length                 float64
Curb_weight            float64
Fuel_capacity          float64
Fuel_efficiency        float64
Latest_Launch           object
Power_perf_factor      float64
dtype: object

In [35]:
print(df.duplicated().value_counts())

False    157
Name: count, dtype: int64

In [41]:
print(df.duplicated().sum())

0

In [43]:
print(~df.duplicated())

0      True
1      True
2      True
3      True
4      True
       ...
152    True
153    True
154    True
155    True
156    True
Length: 157, dtype: bool

In [47]:
df.describe() #number 10

,Sales_in_thousands,__year_resale_value,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Power_perf_factor
count,157.000000,121.000000,155.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000,156.000000,154.000000,155.000000
mean,52.998076,18.072975,27.390755,3.060897,185.948718,107.487179,71.150000,187.343590,3.378026,17.951923,23.844156,77.043591
std,68.029422,11.453384,14.351653,1.044653,56.700321,7.641303,3.451872,13.431754,0.630502,3.887921,4.282706,25.142664
min,0.110000,5.160000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,23.276272
25%,14.114000,11.260000,18.017500,2.300000,149.500000,103.000000,68.400000,177.575000,2.971000,15.800000,21.000000,60.407707
50%,29.450000,14.180000,22.799000,3.000000,177.500000,107.000000,70.550000,187.900000,3.342000,17.200000,24.000000,72.030917
75%,67.956000,19.875000,31.947500,3.575000,215.000000,112.200000,73.425000,196.125000,3.799500,19.575000,26.000000,89.414878
max,540.561000,67.550000,85.500000,8.000000,450.000000,138.700000,79.900000,224.500000,5.572000,32.000000,45.000000,188.144323

In [103]:
# Number 6


#### Number 7
# There are indeed missing values in the data set.
# There are from rows 512 -516
# It is in the Column about Sales in Thousands, and Power_perf_factor

In [25]:
dtype('int64')

NameError: name 'dtype' is not defined